body{
  display: flex;
  justify-content: center;
}
.pop-up{
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin: auto;
}
.pop-up__item{
  cursor: pointer;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: darkgray;
}
.pop-up__item_acrive{
  background: black;
}


.slider__img-right{
  position: absolute;
  margin: auto;
  right: -100px;
  top: 0px;
  bottom: 0;
  cursor: pointer;
  transform: rotate(180deg);
}
.slider__img-left{
  cursor: pointer;
  position: absolute;
  margin: auto;
  left: -100px;
  top: 0px;
  bottom: 0;
}
/* НАСТРООИТЬ ПРИ ПОДГОНКЕ РАЗМЕРА */

.container-slider{
  margin:30px auto 70px;
  position: relative;
  width: 512px;
  height: 450px;
}
.slider{
  overflow: hidden;
  width: 512px;
  height: 100%;
  position: relative;
  padding-bottom: 30px;
}
.slider__inner{
  width: 480px;
  margin: auto;
}
.slide__item{
  width: 512px;
  /* height: 100%; */
  position: absolute;
  left: 0;
  top: 0;
}
/* НАСТРООИТЬ ПРИ ПОДГОНКЕ РАЗМЕРА */
.slide__item img{
  width: 100%;
}
@media (max-width: 888px) {
  .slider{
    width: 300px;
  }
  .container-slider{
    width: 300px;
  }
  .slide__item{
    width: 300px;
  }

}
@media (max-width: 500px) {
  .slider__img-left{
    left: -15px;
  }
  .slider__img-right{
    right: -15px;
  }
}